@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --foreground: #ffffff;
  --background: #171717;
  --primary: rgba(124, 58, 237, 0.07);
  --secondary: rgba(124, 58, 237, 0.17);
  --tertiary: rgba(124, 58, 237, 0.37);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}

/* Firefox */
*:-moz-scrollbar {
  width: 17px;
}

*:-moz-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}